<form class="auth__form" [formGroup]="registerForm" (ngSubmit)="createUser()">
  <h1 class="auth__form-title">Register</h1>
  <div class="auth__form-control">
    <label for="name" class="auth__form-label">Name:</label>
    <input
      type="text"
      class="auth__form-input"
      placeholder="Enter your name"
      id="name"
      formControlName="name"
    />
    <app-error-msg
      error="required"
      message="Name is required"
      [formField]="f['name']"
    ></app-error-msg>
  </div>
  <div class="auth__form-control">
    <label for="email" class="auth__form-label">Email:</label>
    <input
      type="email"
      class="auth__form-input"
      placeholder="Enter your Email"
      id="email"
      formControlName="email"
    />
    <app-error-msg
      error="required"
      message="Email is required"
      [formField]="f['email']"
    ></app-error-msg>
    <app-error-msg
      error="email"
      message="Email is not valid"
      [formField]="f['email']"
    ></app-error-msg>
  </div>
  <div class="auth__form-control">
    <label for="password" class="auth__form-label">Password:</label>
    <input
      type="password"
      class="auth__form-input"
      placeholder="Enter your Password"
      id="password"
      formControlName="password"
    />
    <app-error-msg
      error="required"
      message="Password is required"
      [formField]="f['password']"
    ></app-error-msg>
  </div>
<!--  <div *ngIf="(errorMessages | async)" class="error-container">-->
<!--    <p *ngFor="let msg of (errorMessages | async)" class="error-msg">{{ msg }}</p>-->
<!--  </div>-->
  <ng-container *ngTemplateOutlet="errorMsgs; context: {errMsgs: errorMessages | async}"></ng-container>
<!--  <div *ngIf="successMessage" class="success-container">-->
<!--    <p class="success-msg">{{ successMessage }}</p>-->
<!--  </div>-->
  <ng-container *ngTemplateOutlet="successMsg; context: {successMsg: successMsg$ | async}"></ng-container>
<!--  <button class="auth__form-btn" [disabled]="registerForm.invalid || loading">-->
<!--    <span *ngIf="!loading">Register</span>-->
<!--    <div class="loading" *ngIf="loading">-->
<!--      <app-loading-spinner></app-loading-spinner>-->
<!--    </div>-->
<!--  </button>-->
  <ng-container *ngTemplateOutlet="btnLoading; context: {loading: loading$ | async}"></ng-container>

  <a routerLink="/auth/login" class="auth__form-link">
    Already have an account? Login.
  </a>
</form>

<ng-template #errorMsgs let-errors="errMsgs">
  <div *ngIf="errors.length" class="error-container">
    <p *ngFor="let msg of errors" class="error-msg">{{ msg }}</p>
  </div>
</ng-template>

<ng-template #successMsg let-successMsg="successMsg">
  <div *ngIf="successMsg" class="error-container">
    <p class="success-msg">{{ successMsg }}</p>
  </div>
</ng-template>

<ng-template #btnLoading let-loading="loading">
  <button class="auth__form-btn" [disabled]="registerForm.invalid || loading">
    <span *ngIf="!loading">Register</span>
    <div class="loading" *ngIf="loading">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </button>
</ng-template>
