<div class="loading" *ngIf="loading">
  <app-loading-spinner></app-loading-spinner>
</div>

<div class="categories container" *ngIf="!loading" #categoryItems>
  <app-category-item
    *ngFor="let cat of categories$ | async; let i = index"
    [appHighlight]="categoryItems"
    [categoryIndex]="i"
    [category]="cat"
    (loadingMoviesByCategories)="loadingMoviesByCategories($event)"
  >
  </app-category-item>
</div>

<div class="loadingMoviesCategories" *ngIf="loadingMoviesCategories">
  <app-loading-spinner></app-loading-spinner>
</div>

<ng-container *ngIf="movies$ | async as movies">
  <div
    class="movies container"
    *ngIf="
      (!loading || !loadingMoviesCategories) && movies.length;
      else movies_content
    "
  >
    <app-movie-item
      *ngFor="let movie of movies; trackBy: movieTrackByFn"
      [movie]="movie"
    >
    </app-movie-item>
  </div>
</ng-container>

<ng-template #movies_content>
  <div class="movies container" *ngIf="!loading && !loadingMoviesCategories">
    <p>No Movies Added Yet</p>
  </div>
</ng-template>
