.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 5px;
}

.movies {
  display: flex;
  flex-wrap: wrap;
}

.categories {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: auto;
  // padding: 1rem 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
