:host(app-movie-form) {
  width: 400px;
  margin: auto;
}

.movie-form {
  margin-bottom: 1rem;
}

.loading-categories {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
